<h2>検索結果</h2>

  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Introduction</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td></td>
          <td><%= photo.title %></td>
          <td><%= photo.introduction %></td>
          <td><%= image_tag photo.get_image('100x100') %></td>
          <td>
            <%= link_to "Show",public_photo_path(photo.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>