<h2>Results index</h2>

<table class="table table-hover table-inverse">

    <!--検索した写真を表示-->
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.introduction %></td>
      </tr>
    <% end %>
  </tbody>

</table>